//breakpoint
$sp = 560px
$tl = 960px
$pc = 961px

black     = #212121
white     = #ffffff
base      = #152040
sub       = #3f51b5

// dark mode
dark_base = #09152f
dark_accent = #ca7f7f

opacity = 0.5
