//breakpoint
$sp = 560px
$tl = 960px
$pc = 961px

black     = #212121
white     = #ffffff
base      = #152040
sub       = #0084FF

// dark mode
dark_base = #09152f
dark_accent = #FEA0A0

opacity = 0.5
